{% extends 'layout.html' %} 

{% block title %} Detail {% endblock %} 

{%block content %}
<div class="p-4">
    <h1>디테일페이지</h1>
    <button type="button" class="btn btn-primary" id="update_btn">수정완료</button>

    <div>{{ post.date }}</div>
    <div class="input-group mb-3">
        <span class="input-group-text">제목</span>
        <input type="text" class="form-control" placeholder="제목" aria-label="Title" aria-describedby="title" value="{{ post.title }}" id="title">
    </div>

    <textarea id="content" class="form-control" style="height: 400px;" aria-label="With textarea">{{ post.content }}</textarea>
</div>
<script>

  </script>

{% endblock%}