
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #E5E5E5; /* 회색 배경 색상 설정 */
}
.sidebar{
    height: 100vh;
    width : 200px;
    background: #14213D;
    position: fixed;
    transition : transform 0.3s ease;
    transform : translateX(-200px);
    border-right: solid 2px #FCA311;
}
.sidebar.show{
    transform : translateX(0);
}

.toggle_visible_btn {
    display: none;
}

.visible_btn {
    display: inline-block;
}

.custom-nav{
    align-items: flex-end;
    align-content: stretch;
    background: #E5E5E5;
    border-bottom: 2px solid #FCA311;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.diphylleia-regular {
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
}
.card-container{
    display : flex;
    flex-wrap: wrap;
    gap : 16px;
    justify-content: flex-start;
}
.card{
    flex : 0 0 auto;
    width: 300px;
    text-decoration: none;
    color : inherit;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card:hover .card-body .toggle_visible_btn{
    display: block;

}
.card-title{
    flex: 0 1 auto;
    margin-bottom : 16px;
}
.card-text{
    flex: 1 1 auto;
    min-height: 150px;
}
.card-subtitle{
    flex: 0 1 auto;
    margin-top: auto;
}

.content{
    margin-left : 0;
    transition : margin-left 0.3s ease;
}
.content.shift{
    margin-left : 200px;
}
.navbar-brand, .nav-link{
    text-decoration: none;
}
.card a{
    text-decoration: none;
    color: inherit;
}
.chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color : #FCA311;
}
.chat-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    max-width: 100%;
    height: 400px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}
.chat-header {
    background: #14213D;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-body {
    height: calc(100% - 100px);
    overflow-y: auto;
    padding: 10px;
}
.chat-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
}
.custom-col{
    padding : 0;
}
.custom-btn{
    background : #14213D;
    color : #FCA311;
}
.custom-btn:hover{
    background : #FCA311;
    color : #14213D;
    border: solid 2px #14213D;
}


.nav-link{
    color : #FCA311;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border : #FCA311;
}

.answer {
    background-color: #FCA311;
    color: white;
    border-radius: 8px;
    padding: 5px;
}


